img {
  width: 250px;
  height: 250px;
  float: left;
  padding: 10px;
}

.layout {
  font-weight: bold;
  margin-left: 20%;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 60%;
  float: left;
}

.name {
  font-family: Lobster;
  font-size: 1.5em;
}

.addToCart {
  background-color: #EE8D0E;
  border: 1px solid #EE8D0E;
  color: #ffffff;
  font-size:1em;
  padding-top:5px;
  padding-bottom: 10px;
  border-radius:10px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.addToCart:hover {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 0 !important;
  background: #2c3e50;
  width: 100%;
  padding: 0 1em 0 1em;
  color: #fff;
  cursor: pointer;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 5em;
  height: 2.5em;
  line-height: 2.5;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin: 0 auto;
  float: left;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
  color: #f39c12;
}

.description {
  float: left;
  width: 60%;
}
