<div *ngIf="isAdmin===true" class="container">
  <form [formGroup]="newItem">
    <label>Name:
      <input formControlName="name" type="text">
    </label>
    <label>Description:
      <input formControlName="description" type="text">
    </label>
    <label>Price:
      <input formControlName="price" type="number">
    </label>
    <label>Image:
      <input formControlName="image" type="text">
    </label>
    <label>Type:
      <select formControlName="type" type="text">
        <option value="guitars">guitars</option>
        <option value="drums">drums</option>
        <option value="bass">bass</option>
        <option value="keyboards">keyboards</option>
      </select>
    </label>
    <button type="submit" (click)="create()">Create</button>
  </form>
</div>
