<div *ngFor="let result of results" class="result-details">
  <img src="{{result.image}}">
  <div>
    {{result.name}}<br>
    {{result.price | currency}}<br>
    {{result.description}}
  </div>
</div>
