img {
  width: 250px;
  height: 250px;
  float: left;
  padding: 10px;
}

.item-details {
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #333333;
}

.addToCart {
  background-color: #EE8D0E;
  border: 1px solid #EE8D0E;
  color: #ffffff;
  font-size:1em;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius:10px;
  margin: 5px;
  cursor: pointer;
}

.addToCart:hover {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 0 !important;
  background: #333333;
  width: 100%;
  padding: 0 1em 0 1em;
  color: #fff;
  cursor: pointer;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  width: 5em;
  height: 2.5em;
  line-height: 2.5;
  background: #333333;
  overflow: hidden;
  border-radius: .25em;
  margin: 0 auto;

}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #333333;
  pointer-events: none;
  color: #f39c12;
}

.name {
  font-family: Lobster;
  font-size: 1em;
  margin-bottom: 5px;
}

.price {
  margin-bottom: 5px;
}
