<form class="layout" action="">
  Username:<br>
  <input #uname class="input" type="text" name="username">
  <br>
  Password:<br>
  <input #pw class="input" type="password" name="password" (keyup.enter)="submitLogin(uname.value, pw.value)">
  <br>
  <input (click)="submitLogin(uname.value, pw.value)" class="button" type="button" style="vertical-align:middle" value="Login" >
</form>
