.layout {
  float: left;
  margin-left:42.5%;
  margin-top:5%;
  font-family: Lobster;
  font-size: 1.5em;
  border: #ED8D0E 5px ridge;
  padding: 20px;
  background-color: #333;
  color: #f2f2f2;
}

.button {
  border-radius: 3px;
  font-size: 24px;
  font-family: Lobster;
  background-color: #ED8D0E;
  margin-top: 10px;
  cursor: pointer;
}

.input {
  padding: 5px;
  width: 200px;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.section input[type="radio"],
.section input[type="checkbox"]{
  display: none;
}

.container label {
  position: relative;
}

.container span::before,
.container span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.container span.radio:hover {
  cursor: pointer;
}
.container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #ED8D0E;
  border-radius: 50px;
}
.container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6C788A;
  transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #EBFF43;
}

section {
  margin-left: 25%;
  margin-bottom: 10px;
}
