.total {
  position: fixed;
  right: 27.5%;
  font-weight: bold;
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 5px;
  border: #ED8D0E 5px ridge;
  background-color: #333;
  text-align: center;
  width: 250px;
}

img {
  width: 150px;
  height: 150px;
  float: left;
}

.cartLayout {
  float: left;
  font-weight: bold;
  align-content: center;
  width: 70%;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  color: #333;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.cartInfo {
  font-size: 1em;
}
