<div *ngFor="let cart of carts" class="cartLayout">
  <img src="{{cart.image}}"><br>
  <div class = "cartInfo">
    {{cart.name}}<br>
    {{cart.price | currency}} Each<br>
    Quantity: {{cart.quantity}}<br>
    <button (click)="removeFromCart(cart.id)" type="button" class="deleteItem">Remove</button>
  </div>
</div>

<div *ngIf="cartTotal===0">Your Cart is Empty!</div>
<div class = "total" *ngIf="cartTotal!==0">
  Total: {{cartTotal | currency}}<br>
  <button class = "button" (click)="completeOrder()" style="vertical-align:middle"><span>Submit Order </span></button>
</div>
