<div *ngFor="let item of items">
  <div *ngIf="item.type ==='bass'" class="layout">
    <img src="{{item.image}}">
    <div>
      <div class="name">{{item.name}}</div>
      <div>{{item.price | currency}}</div><br>
      <form>
        <div class="select">
          <select #quantity>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <button (click)="addToCart(item.id, quantity.value)" type="button" class="addToCart">ADD TO CART</button>
      </form>
      <div class = "description">{{item.description}}</div>
    </div>
  </div>
</div>
