<h2 class="title">Music World</h2>

<div id="buttons">
  <a class="loginButton" routerLink="/login" *ngIf="isAdmin!==true && isUser!==true">Login</a>
  <span class="loginButton" *ngIf="isAdmin===true">Admin</span>
  <span class="loginButton" *ngIf="isUser===true">User</span>
  <a (click)="open()" id="cartButton"> <img id="scaleCart" src="../assets/cart.png"> Total: {{cartTotal | currency}}</a>
</div>

<div class="navbar1">
  <a class="firstLink" routerLink="/homepage" routerLinkActive="active">Home</a>
  <a routerLink="/guitars" routerLinkActive="active">Guitars</a>
  <a routerLink="/bass" routerLinkActive="active">Bass</a>
  <a routerLink="/keyboards" routerLinkActive="active">Keyboards</a>
  <a routerLink="/drums" routerLinkActive="active">Drums</a>
  <a routerLink="/create" routerLinkActive="active" *ngIf="isAdmin===true">Create</a>
  <div class="search">
    <input type="text" #searchTerm (keyup.enter)="search(searchTerm.value)">
  </div>
</div>

<router-outlet></router-outlet>
