/* Add a black background color to the top navigation */
.navbar1 {
  background-color: #333;
  overflow: hidden;
  clear: both;
}

/* Style the links inside the navigation bar */
.navbar1 a {
  float: left;
  color: #f2f2f2;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Lobster;
}

/* Change the color of links on hover */
.navbar1 a:hover {
  background-color: #ddd;
  color: black;
}

.firstLink {
  margin-left: 35%;
}

#buttons {
  float: right;
  margin-right: 20px;
}

.loginButton {
  margin-right: 25px;
  font-family: Lobster;
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

#scaleCart {
  height: 30px;
  width: 30px;
  margin-bottom: 1px;
}

.title {
  font-size: 6em;
  text-align: center;
  color: #ED8D0E;
  font-family: Lobster;
  margin: -5px;
}

.active {
  color: #000;
  background-color: #5c5a5d;
}

.search {
  float: right;
  margin: 1%;
}

@font-face {
  font-family: Lobster;
  src: url(../assets/lobsterFont/Lobster1.4.otf);
}

input[type=text] {
  background-color: white;
  background-image: url("../assets/searchicon.png");
  background-position: 10px 5px;
  background-repeat: no-repeat;
  background-size: 6%;
  padding-left: 40px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#cartButton {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: Lobster;
}

