<div role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-cart></app-cart>
    </div>
  </div>
</div>
